/var/*
!/var/.htaccess
!/var/.gitkeep
/data/*
!/data/.htaccess
!/data/.gitkeep
/img/*
!/img/.htaccess
!/img/.gitkeep
/imagenes/desktop/*
!/imagenes/desktop/.gitkeep
/imagenes/mobile/*
!/imagenes/mobile/.gitkeep
.git/
sitemap.xml
*.log
.env
.env.*
!.env.example
